{
    "credentials": {
        "c_user": "FACEBOOK ID HERE",
        "xs": "FACEBOOK SESSION COOKIE HERE"
    },
    "secrets": {
        "branca": "YOUR SECRET 32 BYTES HERE",
        "flask": "YOUR SECRET HERE"
    },
    "debug": false,
    "database": {
        "path": "./fblogtest.db",
        "migrations": "./fblogger/migrations/"
    },
    "pid_file": "./fblogger.pid",
    "log_file": "./fblogger.log",
    "scraper": {
        "cache_lb": true,
        "sticky_expire": 1800,

        "loop_frequency": 10,
        "request_interval": 300,

        "longpoll": true,
        "longpoll_timeout": 700,
        "longpoll_retry_limit": 3,
        "longpoll_retry_timeout": 10,
        "longpoll_chill_limit": 6,
        "longpoll_chill_timeout": 60,

        "request_timeout": 20,
        "request_retry_limit": 3,
        "request_retry_timeout": 30,
        "request_chill_limit": 6,
        "request_chill_timeout": 120,
        "request_session_limit": 2
    }
}
