{
    "credentials": {
        "c_user": "FACEBOOK ID HERE",
        "xs": "FACEBOOK SESSION COOKIE HERE"
    },
    "secrets": {
        "branca": "YOUR SECRET 32 BYTES HERE",
        "flask": "YOUR SECRET HERE"
    },
    "debug": false,
    "database": {
        "path": "./fblogtest.db",
        "migrations": "./fblogger/migrations/"
    },
    "pid_file": "./fblogger.pid",
    "log_file": "./fblogger.log",
    "scraper": {
        "cache_lb": true,
        "sticky_expire": 1800,

        "longpoll": true,
        "longpoll_timeout": 700,

        "poll_interval": 300,
        "request_timeout": 20,

        "retry_timeout": 30,
        "retry_limit": 2,
        "chill_timeout": 120
    }
}
