{
    "credentials": {
        "c_user": "FACEBOOK ID HERE",
        "xs": "FACEBOOK SESSION COOKIE HERE"
    },
    "debug": false,
    "database": "./fblog.db",
    "pid_file": "./fblogger.pid",
    "log_file": "./fblogger.log",
    "scraper": {
        "cache_lb": true,
        "sticky_expire": 1800,

        "longpoll": true,
        "longpoll_timeout": ,

        "poll_interval": 300,
        "request_timeout": 20,
        
        "retry_timeout": 30,
        "retry_limit": 2,
        "chill_timeout": 120
    }
}
